.headerApocaliptico {
    background-color: #1a1a1a;
    border-bottom: 2px solid #00ffcc;
    padding: 20px;
    text-align: center;
    color: #00ffcc;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 5px #00ffcc;
}